In [1]:
import pandas as pd
import numpy as np

In [38]:
file = ("Resources/budget_data.csv")

In [43]:
budget_df = pd.read_csv(file)
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [80]:
# ver 1 Month Count (month_count)
month_count = budget_df["Date"].unique()
month_count = len(month_count)
month_count = str(month_count)
month_count

'86'

In [47]:
# ver 2 Month Count
month_count_2 = budget_df["Date"].value_counts()
sum(month_count_2)

86

In [71]:
# Total Amount of Profits/Losses (total_profit)
total_profit = budget_df["Profit/Losses"].sum()
total_profit = str(total_profit)
total_profit

'38382578'

In [69]:
# Average of Changes in Profit/Losses (mean_profit)
budget_df["Moved"] = budget_df["Profit/Losses"].shift(1)
budget_df["Difference"] = budget_df["Profit/Losses"] - budget_df["Moved"]

mean_profit = round(budget_df["Difference"].mean(), 2)
mean_profit = str(mean_profit)
mean_profit

'-2315.12'

In [73]:
# Greatest Increase in Profits (max_profit) 
max_profit = int(budget_df["Difference"].max())
max_profit = str(max_profit)
max_profit

'1926159'

In [74]:
# Greatest Losses (max_losses)
max_losses = int(budget_df["Difference"].min())
max_losses = str(max_losses)
max_losses

'-2196167'

In [82]:
#Analysis Review
review = []
review.append("Financial Analysis")
review.append("------------------------------------------")
review.append("Total Months: " + month_count)
review.append("Total: $" + total_profit)
review.append("Average Change: $" + mean_profit)
review.append("Greatest Increase in Profits: Feb-2012 ($" + max_profit + ")")
review.append("Greatest Decrease in Profits: Sep-2013 ($" + max_losses + ")")
review

['Financial Analysis',
 '------------------------------------------',
 'Total Months: 86',
 'Total: $38382578',
 'Average Change: $-2315.12',
 'Greatest Increase in Profits: Feb-2012 ($1926159)',
 'Greatest Decrease in Profits: Sep-2013 ($-2196167)']

In [84]:
#Exporting Review
with open('review.txt', 'w') as summary:
    for line in review:
        summary.write("%s\n" % line)